<div class="div-contact-container">
  <mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field color='accent'>
        <input matInput placeholder="Your Email" [(ngModel)]="email">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style="margin-left:5px;">
      <mat-form-field color='accent'>
        <input matInput placeholder="Your Name" [(ngModel)]="name">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-form-field color='accent'>
    <textarea [(ngModel)]="message" matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="3" placeholder="Message"></textarea>
  </mat-form-field>
  <a mat-button color="Basic" (click)='onSubmit()'>Send Me a Message</a>
</div>