.div-aboutme {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 20px;
    text-align: left;
    height: 160px;
    width: 100%;
}

.img-about-cat {
    height: 100%;
    width: height;
}

.div-aboutme-content {
    margin-left: 20px;
}