<div class='index-content-main-container'>
    <h2>
        For The Good Future
    </h2>
    <div *ngIf='pageEvent'>
        <mat-card *ngFor='let article of articles'>
            <mat-card-title>
                <a href='javascript:void(0)'>{{ article.title }}</a>
            </mat-card-title>
            <mat-card-subtitle>
                {{ article.publish_date | date }}
            </mat-card-subtitle>
            <mat-card-content>
                <a href='javascript:void(0)'>
                    {{ article.content }}
                </a>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color='primary'>Read More</button>
                <button mat-raised-button color='primary' disabled>LIKE</button>
                <button mat-raised-button color='primary' disabled>DISLIKE</button>
                <button mat-raised-button color='primary' disabled>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-paginator [length]='pageLength' [pageSize]='pageSize' [pageSizeOptions]='pageSizeOptions' (page)='pageEvent = $event'>
    </mat-paginator>
</div>