<footer>
    <mat-grid-list cols="2" rowHeight="100%">
        <mat-grid-tile colspan="1" rowspan="1">
            <app-about></app-about>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2">
            <app-contact></app-contact>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile col="1" rowspan="1">
            <p>Copyright © 2016-2018
                <a href="https://github.com/SnailTowardThesun">SnailTowardThesun</a> All Rights Reserved</p>
        </mat-grid-tile>
    </mat-grid-list>
</footer>